/*body{
    background-image:url("FCIaQJm.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}*/

@import url('https://fonts.googleapis.com/earlyaccess/cwtexyen.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&display=swap');

body{
    font-family: 'cwTeXYen','Comfortaa', sans-serif;
    font-size: 20px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.btn-success:focus {
    box-shadow: none;
}

@media (min-width: 1500px){
    .container {
        max-width: 95%;
    }
}

.timeTo {
    transform: rotate(90deg);
    display: inline-block;
    font-size: 20px;
}

.icon {
    text-align: right;
}

.dropdown {
    display: inline-block;
}
.dropdown::after {
    content: "";
    background: url("../images/dropdownIcon48.png");
    height: 30px;
    width: 50px;
    transition: transform 0.3s;
    display: inline-block;
    position: absolute;
    right: -12px;
    bottom: 20px;
    pointer-events: none;
}
.dropdown.active::after {
    transform: rotate(180deg) translateY(-50%);
}

#searchBox {
    background-color: transparent;
    border: none;
    border: 2px solid black;
}
#searchBox::placeholder {
    color: white;
}
[data-index="option"] {
    border: none;
    border-bottom: 1px solid black;
    width: 140px;
    margin-bottom: 10px;
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 130%;
}
[data-index="option"]:focus {
    outline: none;
}
[data-index="option"]:hover {
    cursor: pointer;
}

.dropdown.active .dropdown-menu {
    display: block;
}
.dropdown-menu {
    min-width: 140px;
    border: none;
    border-inline: 3px solid lightgray;
    text-align: center;
    padding: 0px;
    right: 0px;
    top: 33px;
}
.dropdown-menu li {
    border-bottom: 3px solid lightgray;
    font-size: 24px;
    font-weight: 600;
}
.dropdown-menu li:hover {
    background-color: rgb(90, 163, 223);
    cursor: pointer;
    color: white;
}

.scheduleTitle {
    font-weight: 600;
    color: white;
    background-color: rgba(253, 135, 25, 0.4);
}

table {
    border: none;
    background-color: rgba(87, 96, 99, 0.5);
    /*表格背景顏色*/
    /*最後一個數字是表示他的透明度 0為透明 1為完全不透明*/
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    margin-bottom: 10px;

}

table td,
table th {
    padding: 10px;
    /*表格周圍邊框*/
    color: black;
    /*字體顏色*/
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
    color: white;
}

.courseBrief {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 5px;
}

.list {
    border: 3px solid blue;
    text-align: left;
    font-size: 19px;
    color: rgb(0, 24, 104);
    height: 400px;
    margin-top: 10px;
    overflow-y: scroll;
    user-select: none;
    /*讓使用者不能反白文字*/
}

.list .checkContent:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: rgb(0, 24, 104);
}

.checkLabel {
    display: inline-block;
    position: relative;
    top: 3px;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    background: #C3DEF3;
    border-radius: 20px;
    margin-right: 3px;
}

.checkLabel:hover {
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label {
    background: #79A9CE;
}

.pic {
    width: 60px;
    height: 60px;

    right: 50px;
    top: 3%;
    transition: transform 0.5s ease;
}
.pic:hover {
    cursor: pointer;
}

.course:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0, 204, 255);
    text-decoration-color: rgb(0, 204, 255);
}

/*彈跳視窗*/
.popup-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}
.popup-container.active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
}
.popup {
    position: relative;
    display: block;
    width: 45%;
    max-height: 90%;
    padding: 20px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 6px;
    background: url(../images/jumppage.png) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    word-break: break-all;
}
@media (max-width: 658px) {
    .popup {
        overflow-y: scroll;
        width: 85%;
    }
}
.popup button {
    background: transparent;
    border: none;
    position: absolute;
    right: 0px;
    top: 0px;
}

.content .row {
    font-size: 120%;
    color: navy;
}
.content .row .col:first-child {
    text-align: center;
}
.content .row .col:last-child {
    text-align: right;
}